body {
  background-color: #384B70;
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

h1 {
  margin-bottom: 0px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 4rem;
  color: #D3EE98;
}

p {
  font-size: 2rem;
  color: #FCFAEE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 50%;
}

h2, span {
  margin-bottom: 0px;
  color: #FCFAEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

.scores {
  margin-bottom: 8px;
  font-size: 1.55rem;
  font-weight:bolder;
}

#roll-again {
  background-color: #158a00;
  font-weight: 600;
  color: #FCFAEE;
  width: 85px;
  height: 25px;
  border-radius: 5px;
}
input {
  background-color: rgb(255, 102, 0);
  font-weight: 600;
  color: #FCFAEE;
  width: 125px;
  height: 27px;
  border-radius: 5px;
}

@media (max-width: 515px) {
  h1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 3rem;
    height: 30vh; 
  }
  .dice {
    width: 200px;
  }
  p {
    margin-bottom: 18px;
  }
}

@media (max-width: 390px) {
  h1 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-size: 4rem;
    height: 33vh;
    margin: 20px;
    margin-bottom: 0px;
  }
  .dice {
    width: 158px;
  }
  p {
    margin-top: 30px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 2rem;
    margin: 0px 30px 10px 30px;
    height: 11.5vh;
  }
  .scores {
    font-size: 2rem;
  }
}
